[user]
name = Sahn Lam
email = slam@users.noreply.github.com
[url "\"git@github.com:\""]
	insteadOf = \"https://github.com/\"
[alias]
append = town append
hack = town hack
kill = town kill
new-pull-request = town new-pull-request
prepend = town prepend
prune-branches = town prune-branches
rename-branch = town rename-branch
repo = town repo
ship = town ship
sync = town sync
