[user]
name = Sahn Lam
email = slam@users.noreply.github.com
[core]
editor = code --wait
[diff]
tool = vscode
[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE
[merge]
tool = vscode
[mergetool "vscode"]
cmd = code --wait $MERGED
[alias]
append = town append
hack = town hack
kill = town kill
new-pull-request = town new-pull-request
prepend = town prepend
prune-branches = town prune-branches
rename-branch = town rename-branch
repo = town repo
ship = town ship
sync = town sync
[init]
	defaultBranch = main
[include]
  path = ~/.gitconfig.local
