{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

if command -v zoxide > /dev/null
    zoxide init fish | source
end

if status is-interactive
    # Commands to run in interactive sessions can go here
    set -g fish_key_bindings fish_vi_key_bindings
end

# uv
fish_add_path "/Users/slam/.local/bin"

alias vi="nvim"
